.container {
    display: flex;
    flex-direction: column;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.formInput input {
    color: blueviolet;
    height: 30px;
    margin: 0 1rem;
    border-radius: 8px;
    text-indent: 8px;
    border: none;
}

.formSubmit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 1rem;
}

.loginMessage {
    margin-top: 16px;
    font-size: 18px;
}
